/* --- TRENDING LABEL --- */
.trending-label {
    color: #006394;
    font-weight: 800;
    letter-spacing: 0.5px;
}

/* --- TRENDING TITLES */
.trending-section {
    background-color: #ffffff;
    font-size: 0.95rem;
}

.trending-section ul li a:hover {
    color: #0072a9 !important;
}