.trending-section {
    background-color: #ffffff;
    font-size: 0.95rem;
}

.trending-label {
    color: #006394; /* Proprietary Blue */
    font-weight: 800;
    letter-spacing: 0.5px;
}

.trending-section ul li a:hover {
    color: #0072a9 !important; /* Proprietary Blue */
}